<div class="grid home">
    <div class="row no-gutters">
        <div class="col c-12">
            <div class="home__bannel">
                <div class="home__bannel-desc">
                    <div class="home__bannel-desc-title">
                        Thương hiệu mới
                    </div>
                    <div class="home__bannel-desc-text">
                        Chúng tôi luôn mang đến cho bạn những sản phẩm chất lượng nhất có thể. Giá lại rất là mềm nha các bạn. Cùng với đó là các khuyến mãi cứ phải gọi là hết nước chấm!
                    </div>
                    <div class="home__bannel-desc-ac">
                        <button class="home__bannel-desc-ac-btn">Xem ngay!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>