<div class="grid">
    <div class="row">
        <div class="col c-12">
            <div class="nav">
                <div class="nav__intop">
                    Chào mừng bạn đến với SOKO
                </div>
                <div class="nav__content grid wide">
                    <div class="nav__content-logo">
                        <a routerLink="" class="nav__content-logo-link">
                            <img src="https://cdn.shopify.com/s/files/1/0249/1218/files/Soko-Glam-logo-GSD-Blue_1.png?v=1613726693" alt="" class="nav__content-logo-img">
                        </a>
                    </div>
                    <ul class="nav__content-list">
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Tất cả</a>
                        </li>
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Bán chạy nhất</a>
                        </li>
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Sản phẩm tốt nhất</a>
                        </li>
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Thương hiệu</a>
                        </li>
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Phần thưởng</a>
                        </li>
                        <li class="nav__content-list-item">
                            <a href="" class="nav__content-list-item-link">Chăm sóc</a>
                        </li>
                    </ul>
                    <div class="nav__content-ac">
                        <div class="nav__content-ac-item">
                            <i class="fal fa-search"></i>
                        </div>
                        <div class="nav__content-ac-item">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="nav__content-ac-item">
                            <i class="fal fa-heart"></i>
                        </div>
                        <div class="nav__content-ac-item">
                            <i class="fal fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>